### How to use this file:
# pip install -U -r requirements.txt
dbt-core
dbt-snowflake
keyring
pip
pip-system-certs
pyarrow
schemachange
snowflake-cli
# snowflake-ml-python
snowflake-snowpark-python
streamlit
