agate<1.10,>=1.7.0
Jinja2<4,>=3.1.3
typing-extensions >=4.1.0
logbook<1.6,>=1.5
click<9.0,>=8.0.2
networkx<4.0,>=2.3
protobuf<5,>=4.0.0
requests<3.0.0
pathspec<0.13,>=0.9
dbt-extractor<=0.6,>=0.5.0
minimal-snowplow-tracker<0.1,>=0.0.2
importlib-metadata<7,>=6.0
jsonschema<5,>=4.0
more-itertools<11.0,>=8.0
pydantic<3,>=1.10
python-dateutil<3,>=2.0
colorama<0.5,>=0.3.9
deepdiff<8.0,>=7.0
isodate<0.7,>=0.6
pytz>=2015.7
packaging>20.9




agate<1.10,>=1.7.0
colorama<0.5,>=0.3.9
deepdiff<8.0,>=7.0
isodate<0.7,>=0.6
jinja2<4,>=3.1.3
jsonschema<5.0,>=4.0
typing-extensions >=4.1.0
pathspec<0.13,>=0.9
protobuf<5.0.0,>=4.0.0
python-dateutil<3.0,>=2.0
requests<3.0.0
pytz>=2015.7
asn1crypto<2.0.0,>0.24.0
cffi<2.0.0,>=1.9
cryptography>=3.1.0
pyOpenSSL<25.0.0,>=16.2.0
pyjwt<3.0.0
packaging
charset-normalizer<4,>=2
idna<4,>=2.5
certifi>=2017.4.17
filelock<4,>=3.5
sortedcontainers>=2.4.0
platformdirs<5.0.0,>=2.6.0
tomlkit
urllib3<2.0.0,>=1.21.1
importlib-metadata
Cython
coverage
more-itertools
numpy<1.27.0
pendulum!=2.1.1
pexpect
pytest-rerunfailures
pytest-timeout
pytzdata
pandas<3.0.0,>=1.0.0
pyarrow
jaraco.classes
jaraco.functools
importlib-resources
jeepney >=0.4.2
logbook<1.6,>=1.5
click<9.0,>=8.0.2
networkx<4.0,>=2.3
dbt-extractor<=0.6,>=0.5.0
minimal-snowplow-tracker<0.1,>=0.0.2
pydantic<3,>=1.10
