SNOWFLAKE:
  target: prod
  outputs:
    prod:
      type: "snowflake"
      client_session_keep_alive: False
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      # The DBT_ENV_SECRET_ prefix prevents the variable being included in logs
      private_key: "{{ env_var('DBT_ENV_SECRET_PRIVATE_KEY') }}"
      role: "{{ env_var('SNOWFLAKE_ROLE') }}"
      database: "{{ env_var('SNOWFLAKE_DATABASE') }}"
      warehouse: "{{ env_var('SNOWFLAKE_WAREHOUSE') }}"
      schema: "{{ env_var('SNOWFLAKE_SCHEMA') }}"
      threads: "{{ env_var('SNOWFLAKE_THREADS', '8') | as_number }}"
      query_tag: "{{ env_var('SNOWFLAKE_QUERY_TAG') }}"
